doctype html
html lang="ru"
  head
    meta charset="utf-8"
    title ALFATRAVEL
    link rel="stylesheet" href="css/main.css"
  body
    header
      .wrapper
        h1.logo
          a href="#"
            img src="images/logo.png" alt="ALFATRAVEL"
            |ALFATRAVEL
        ul.nav
          li
            a href="#" Туры в Израиль
          li
            a href="#" Билеты
          li
            a href="#" Гостинницы
        p.contacts
          |+7 (495)
          span  374-79-54
          br
          span.call Мы ждем Ваши звонки!
        span.or - или -
        button.call-btn Заказать звонок!

    section.content-top
      .wrapper
        .content-item
          h1
            'СОБИРАЕТЕСЬ
            span.mark-2
              'В ИЗРАИЛЬ?
          h2
            'ALFATRAVEL
            span.normal
              'ПОМОЖЕТ!

          ul.content-list
            li
              a href="#" Организованные туры
            li
              a href="#" Билеты и гостиницы
            li
              a href="#" Экскурсии
            li
              a href="#" Медицинский туризм

          a.link href="#" Популярные туры

        form
          fieldset
            legend БЕСПЛАТНАЯ КОНСУЛЬТАЦИЯ
            input type="text" name="name" placeholder="Имя"
            input type="email" name="email" placeholder="E-mail"
            input type="tel" name="usertel" placeholder="Телефон"
            button.form-btn Перезвоните мне!

    section.content-proposition
      .content-wrapper
        h1
          'САМЫЕ ГОРЯЧИЕ ПРЕДЛОЖЕНИЯ
          br
          span ЭТОГО СЕЗОНА!
        .slider
          span.prev
          span.next
          ul.slider-item
            li
              img src="images/slide-1.png" alt="image"
              p Новогодний ужин
              span.price
                '$954
              span.days
                |/ 8 дней
              a href="" Подробнее!
            li
              img src="images/slide-2.png" alt="image"
              p Осень на пляжах Эйлата
              span.price
                '$324
              span.days
                |/ 7 дней
              a href="" Подробнее!
            li
              img src="images/slide-3.png" alt="image"
              p Иерусалим - город трех религий
              span.price
                '$620
              span.days
                |/ 8 дней
              a href="" Подробнее!

    section.content-consultation
      .content-wrapper
        .b-ask
          h3
            |У ВАС ЕСТЬ ВОПРОСЫ?
          .b-ask-item
            div.asks
              span ГДЕ ВЗЯТЬ БИЛЕТЫ?
              span СОПРОВОЖДЕНИЕ?
              span КАКОЙ ОТЕЛЬ?
              span ЭКСКУРСИИ?
              span ВИЗА?
              span ТРАНСФЕР?
        .b-answer
          h3
            |У НАС ЕСТЬ ОТВЕТЫ!
          .b-answer-item
            p
              'Получите
              br
              span.span-b подробную консультацию
              br
              'по любому вопросу
            a href="" Расскажите мне!
    section.content-why_we
      .wrapper
        h2 ПОЧЕМУ ИМЕННО МЫ?
        span.privil
          span Преимущества
        ul.why_me-list
          li
            span.user
            h4 Отсутствие посредников
            p Как следствие – удешевление как полного туристического пакета, так и каждой составляющей.
          li
            span.glass
            h4 Полная прозрачность договорных отношений
            p Вы всегда знаете и понимаете, за что и сколько Вы платите. Мы - за честное сотрудничество!
          li
            span.bullets
            h4 Исчерпывающая и всегда оперативная информация
            p Мы заботимся о том, чтобы сформировать у наших клиентов полное представление об услгуге, которой они пользуются.
          li
            span.smile
            h4 Личное сопровождение клиента
            p Наши сотрудники встречают и провожают Вас по прибытию в Израиль, чтобы сделать Вашу поездку особенной!

    section.present
      h2
        'ИЗРАИЛЬ ГЛАЗАМИ НАШИХ КЛИЕНТОВ
        br
        span
          'НЕЗАБЫВАЕМЫЙ ОТДЫХ!
      ul.present-img
        li
          img src="images/img-1.png" alt="Israel" width="230px" height="150px"
        li
          img src="images/img-2.png" alt="Israel" width="230px" height="150px"
        li
          img src="images/img-3.png" alt="Israel" width="230px" height="150px"
        li
          img src="images/img-4.png" alt="Israel" width="230px" height="150px"
        li
          img src="images/img-5.png" alt="Israel" width="230px" height="150px"
        li
          img src="images/img-6.png" alt="Israel" width="230px" height="150px"
      .wrapper
        ul.present-list
          li
            span.span-b
              'Израиль
            '– страна туристическая, привлекающая многочисленных путешественников из-за рубежа.  Несмотря на то,
              что площадь Израиля составляет чуть
            span.span-b
              'более 22 тыс. кв.км,
            'на узкой полоске земли вдоль Средиземного моря
              успешно развиваются
            span.span-b
              'различные виды туризма,
            'как общего, так и специфического – религиозного, медицинского,
              сельскохозяйственного и прочих.
          li
            'Мы предлагаем
            span.span-b
              'туры в Израиль,
            'предоставляя своим клиентам услуги
            span.span-b
              'высокого качества,
            'в полном соответствии с
              любыми особыми требованиями. Важно отметить, что наши туры в Израиль проводятся
            span.span-b
              'без посредников, что
            'существенно сказывается на их стоимости. За три года работы на туристическом рынке компания
            span.span-b
              'Alfa Travel
            'приобрела
            span.span-b
              'устойчивую репутацию
            'надежного партнера.
        div.b-form
          h3 ХОТИТЕ ПРОВЕСТИ НЕЗАБЫВАЕМЫЙ ОТДЫХ?
          span
            'Давайте поговорим о наиболе выгодных и интересных предложениях
            span.span-b лично для Вас!
          form
            fieldset
              legend
              input type="text" placeholder="Имя"
              input type="email" placeholder="E-mail"
              input type="tel" placeholder="Телефон"
              button.form-btn Перезвоните мне!
    section.content-show
      .wrapper
        p
          |ПОЗВОЛЬТЕ НАМ
          br
          span.show
            span.mark-1.show-p
              |ПОКАЗАТЬ ИЗРАИЛЬ
            '  ТАКИМ,
          br
          span.show-pre
            'КАКИМ ВЫ ЕГО СЕБЕ
            span.mark-1.show-p ПРЕДСТАВЛЯЛИ!
    section.content-reviews
      .wrapper
        h2 О НАС ГОВОРЯТ
        p ОТЗЫВЫ НАШИХ КЛИЕНТОВ
        ul.content-reviews-list
          li
            img src="images/avatar-4.png" width="146px" height="146px" alt="foto"
            span.span-b
              'Ирина и Валерий Корсунковы
              br
              span.span-n
                'Воронеж
            p Хотим поблагодарить сотрудников Alfa Travel за прекрасный отдых в Израиле. За неделю мы увидели много
               прекрасных мест, воспоминания останутся на всю жизнь. Особо хотим отметить профессионализм гида Бориса,
                который показал нам Иерусалим, самый прекрасный город в Мире! Мы еще приедем!
          li
            img src="images/avatar-3.png" width="146px" height="146px" alt="foto"
            span.span-b
              'Валентина Скорик
              br
              span.span-n
                'Львов
            p Мы привезли маму на лечение в Израиль. Но выдалось несколько свободных дней, и мы заранее договорились с
               компанией Alfa Travel, что нам предоставят экскурсии. Все было замечательно – работники фирмы приняли во
                внимание, что экскурсия предназначена для человека, проходящего сложное лечение. Мама отвлеклась, ее
                 восхитили красоты Израиля, его прекрасные люди, которые нас сопровождали. Спасибо.
          li
            img src="images/avatar-2.png" width="146px" height="146px" alt="foto"
            span.span-b
              'Виктор Серебро
              br
              span.span-n
                'Екатеринбург
            p Спасибо Alfa Travel за отличную организацию поездки в Израиль. Были учтены все пожелания, если была
               необходимо помощь, мы могли в любой момент позвонить ребятам, и они решали наши проблемы. Следующий
                приезд – только с Alfa Travel.
          li
            img src="images/avatar-1.png" width="146px" height="146px" alt="foto"
            span.span-b
              'Николай Трофимович Кротов
              br
              span.span-n
                'Алма-Ата
            p Отдельное спасибо за хлопоты по получению визы. Мы пожилые люди, нам бы это было трудно физически, а
               работники Alfa Travel взяли на себя все заботы. Спасибо вам!

    section.content-top.pre-footer
      .wrapper
        .content-item
          h1
            'ВЫ ГОТОВЫ ПОДАРИТЬ СЕБЕ
            span
              span.mark-2
                |НЕЗАБЫВАЕМЫЙ
              '  ОТДЫХ?
          p
            'Тогда смелее
            span.span-b
              'заполняйте форму
            'справа и уже сегодня у Вас на руках будет вся информация о
            span.span-b
              'путешествии Вашей мечты!
        form
          fieldset
            legend ХОЧУ УЗНАТЬ О СКИДКАХ И АКЦИЯХ!
            input type="text" name="name" placeholder="Имя"
            input type="email" name="email" placeholder="E-mail"
            input type="tel" name="usertel" placeholder="Телефон"
            button.form-btn Перезвоните мне!

    footer
      .wrapper
        h1.logo
          a href="#"
            img src="images/logo.png" alt="ALFATRAVEL"
            |ALFATRAVEL
        ul.nav
          li
            a href="#" rel="nofollow" Туры в Израиль
          li
            a href="#" rel="nofollow" Билеты
          li
            a href="#" rel="nofollow" Гостинницы
        p.contacts
          |+7 (495)
          span  374-79-54
          br
          span.call Мы ждем Ваши звонки!
        span.or - или -
        button.call-btn Заказать звонок!

